#header{
    background-color: black;
    color: blanchedalmond;
    height: 50px;
}

#main{
    background-color:rgb(119, 108, 7);
    height: 920px;
    border: 4px solid black;  
}
#main button {
   background-color: black;
}

#emp{
    background-color:yellow;
    color: red;
}
